/* Global Styling */
body {
  font-family: 'Cormorant Garamond',serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.header {
  padding: 15px;
  text-align: center;
  background: #A20021;
  font-family: 'Lobster',cursive;
}

.header h1{
  font-size: 45px;
}

.logoimage {
  position: absolute;
  right: 55%;
  top: 30px;
}

.navbar{
  overflow: hidden;
  background-color: #071108;
  border-bottom: 5px solid #4F000B;
  border-top: 5px solid #4F000B;
}

.navbar a {
  float:left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 30px;
  text-decoration: none;
}

.navbar a:hover{
  background-color: #ddd;
  color: black;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #071108;
  margin-top: 10px;
  color: #f2f2f2;
}

.current {
  background-color: #364652;
}

.textselectoff {
  user-select: none;
}

.highlight {
  color: #EDEDF4
}


/* End global styling */

.firstrow {
  width: 95%;
  margin: auto;
  text-align: center;
}

.container {
  width: 30%;
  margin: auto;
  border-radius: 5px;
  background-color: #A20021;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #BB342F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover{
  background-color: #6B0504;
}
